<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>About</h1>
            <p>This project has been created privately by me, Ralph Kuepper (<a href="https://twitter.com/amlug">@amlug</a>), in my own private time. If this project gains traction and people wnat more features this can grow into a lot more. Also if you are interested in helping in this project please reach out at info@blockfiles.io. The following roadmap is just meant to provide some gudelines, I am not committing to doing any of it in any specific timeframe:</p>
            <h2>Why blockfiles.io?</h2>
            <p>I noticed that I often don't even know when something happens in my (many) wallets. Yes, some wallets (TrustWallet) send out push notifications but I don't have all my wallets in there. And I don't want to have them all in there. So I simply want to know what happens with my wallets in an easy way. And that's what blockfiles.io does. And nothing more (for now).</p>
            
            <h2>Roadmap / Milestones</h2>
            The following steps are all based on the <strong>number of addresses</strong> being monitored. The more addresses are being monitored the more sense it makes to continue this project.<br />
            <br />
            <strong style="color:green;">Less than 100 addresses (NOW)</strong><br />
            <ul>
                <li>Everything for free, no ads.</li>
                <li>Email only</li>
                <li>Polygon Mainnet</li>
                <li>Ethereum Mainnet</li>
            </ul>
            <br />
            <strong>100 addresses</strong><br />
            <ul>
                <li>Allow text notifications (within limits)</li>
                <li>Create twitter account</li>
                <li>Dedicate more time to it</li>
                <li>Build proper design for it</li>
            </ul>
            <br />
            <strong>1000 addresses</strong><br />
            <ul>
                <li>Build mobile app for push notifications</li>
                <li>Start thinking about monitizing in a web3 way</li>
                <li>Looking for people to get involved</li>
            </ul>
            <br />
            <strong>5000 addresses</strong><br />
            This is VERY wage, might change all of it:<br />
            <ul>
                <li>Token/NFT Sale to fund project</li>
                <li>User Accounts with login</li>
                <li>Some portfolio functions (like value etc.)</li>
            </ul>
            <br />
            <h2>So will this be another wallet/manager for wallets?</h2>
            <p>I have no idea. We will see once we get there. For now this will simply help me (and hopefully others) to keep track of their wallets.</p>
        </div>
    </div>
    </div>