<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-9 mx-auto">
        <h1 class="display-4 fw-normal">Share, sell, contribute through the blockchains</h1>
        <p class="lead fw-normal">Upload a file, share it in the blockchain. Get paid for people downloading.
        </p>
        <ng-container *ngFor="let m of messages">
            <ngb-alert [type]="m.error?'danger':'success'" [dismissible]="false">{{ m.message
                }}</ngb-alert>

        </ng-container>
        <div class="row">
            <div class="col-12 col-sm-4">
                <ng-container *ngIf="fileUploading">loading ...
                    <br />
                    <div id="progress"><div  [style.width.%]="uploadPercentage"></div></div>

                </ng-container>
                <ng-container *ngIf="fileUploaded && file">{{file.name}}</ng-container>
                <input *ngIf="fileUploading==false && fileUploaded==false" type="file" (change)="handleUploadChange($event)" accept="*/*" />
            </div>
            <div class="col-12 col-sm-2">
                <select (change)="updatePrice()" [disabled]="fileUploading || file.loading" class="form-select"
                    [(ngModel)]="file.network" placeholder="Select a blockchain">
                    <option value="">Select a blockchain</option>
                    <option *ngFor="let n of availableNetworks" [value]="n.key">{{n.name}}</option>
                </select>
            </div>
            <div class="col-12 col-sm-2">
                <div class="row">
                    <div class="col-12 col-sm-6" *ngIf="availableCurrencies[file.network]">
                        <input (keyup)="updatePrice()" [disabled]="fileUploading" (change)="updatePrice()" type="number"
                            [(ngModel)]="file.royaltyFee" placeholder="Fee per download" />
                    </div>
                    <div class="col-12 col-sm-6" *ngIf="availableCurrencies[file.network]">
                        <select (change)="updatePrice()" [disabled]="fileUploading || file.loading" class="form-select"
                            [(ngModel)]="file.feeCurrency" placeholder="Select a currency">
                            <option *ngFor="let n of availableCurrencies[file.network]" [value]="n">{{n}}</option>
                        </select>
                    </div>
                </div>
               
            </div>
            <div class="col-12 col-sm-4">
                <ngb-alert *ngIf="priceInfo" [type]="'info'" [dismissible]="false">
                    {{priceMessage}}
                </ngb-alert>

                <span *ngIf="file">Name: {{file.name}}<br /></span>
                <span *ngIf="nativeFile">File size: {{nativeFile.size|filesize}}<br /></span>
                Price: {{price}}
            </div>
        </div>
        <div class="row" *ngIf="advanced==false">
            <button (click)="openAdvanced()" class="btn btn-secondary btn-small">Advanced Settings</button>
        </div>

        <div class="row" *ngIf="advanced">
            <div class="col-12 col-sm-2">
                <input type="checkbox" [(ngModel)]="file.web3only" /> Web3 only?
            </div>
            <div class="col-12 col-sm-2">
                <input [disabled]="file.royaltyFee>0" type="password" [(ngModel)]="file.password" placeholder="Password for download" />
               
            </div>
            <div class="col-12 col-sm-4">
                <input type="number" [(ngModel)]="file.maxHolders" placeholder="Max # of holders" />
                <br />
                (0 = unlimitted)
               
            </div>
        </div>
        <ngb-alert [type]="'info'" *ngIf="file.status==0 && file.transactionTx!='' && mintLoading" [dismissible]="false">
            We are waiting for the blockchain to confirm the transaction. Check transaction here:
            <a [href]="getBlockchainLink()" target="_blank">{{getBlockchainLink()}}</a>
        </ngb-alert>
        <button class="btn btn-large btn-primary" [disabled]="mintLoading || mintReady==false" (click)="mintFile()">
            <ng-container *ngIf="mintLoading">
                <ng-container *ngIf="file.status==0">waiting for blockchain</ng-container>
                <ng-container *ngIf="file.status==1">waiting for file</ng-container>
            </ng-container>
            <ng-container *ngIf="!mintLoading">Share file decentrally!</ng-container>
        </button>

    </div>
</div>
