.btn-large {
    width:100%;
    margin:5px;
}
input, select {
    width:100%;
    padding:5px;
    border-radius: 5px;
    margin:5px;
    background:white;
    border:1px solid gray;
}
span.small {
    display:block;
}
#progress {
    width:100%;
    height:20px;
    border:1px solid gray;
    div {
        height:20px;
        background:black;
    }
}